@page
@model Database_Galery.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.c3b_kos3_seznam[0].Jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c3b_kos3_seznam[0].Prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c3b_kos3_seznam[0].Datum_narozeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c3b_kos3_seznam[0].Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.c3b_kos3_seznam) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijmeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_narozeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
