@page
@model TelefoniSeznam.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>c3b_kos3_seznam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.c3b_kos3_seznam.Jmeno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.c3b_kos3_seznam.Jmeno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.c3b_kos3_seznam.Prijmeni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.c3b_kos3_seznam.Prijmeni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.c3b_kos3_seznam.Datum_narozeni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.c3b_kos3_seznam.Datum_narozeni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.c3b_kos3_seznam.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.c3b_kos3_seznam.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.c3b_kos3_seznam.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
